$wrapper-width: 900px;
$header-bg-color: #F5F5F5;
$header-height: 60px;
$footer-bg-color: #F5F5F5;
$footer-height: 80px;
$menu-hover-bg-color: #e1e1e1;
$pink-color: #FF9C9C;
$sidebar-width: 300px;
$sidebar-bg-color: #222;


$m-max-width: 600px;
$m-nav-size: 30px;
$m-header-height: 50px;