.search-page {
    .title {
        color: #333;
        font-size: 22px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .search-box {
        position: relative;
        background: #f0f0f0;
        height: 36px;
        overflow: hidden;
        margin: 20px 0;
    }

    .search-input {
        position: relative;
        border: none;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        font-size: 14px;
        padding: 0 10px;
        color: #000;
        font-weight: 300;
    }

    .search-label {
        background: #eee;
        display: inline-block;
        margin: 0;
        line-height: 30px;
        padding: 0 10px;
        font-size: 13px;
        color: #666;
    }

    .empty-tip {
        color: #666;
        margin: 50px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }
}