<aside class="sidebar">
  <div class="author">
    <span class="author-avatar">
      <img src="/img/logo_1.png">
    </span>
    <span class="author-name author-ch-name">-</span>
    <span class="author-name author-en-name">-</span>
  </div>
  <div class="collection">
    <a href="#">
      <span class="collection-span collection-count collection-post-num">0</span>
      <span class="collection-span collection-name">日志</span>
    </a>
    <a href="#" class="center">
      <span class="collection-span collection-count collection-category-num">0</span>
      <span class="collection-span collection-name">分类</span>
    </a>
    <a href="#">
      <span class="collection-span collection-count collection-tag-num">0</span>
      <span class="collection-span collection-name">标签</span>
    </a>
  </div>
  <div class="author-links">
  </div>
  <div class="friends-links">
    <p class="friends-links-title">友情链接</p>
  </div>

  <span class="sidebar-op">
    <i class="iconfont icon-close"></i>
  </span>
</aside>