<%#
    我要留言列表
    @param postId 用回复的文章 ID（必填）
%>
<div class="comment-info" data-post-id="<%=locals.postId %>">
    <h3>留言列表<small>（ <span class="comment-info-count">0</span> 条 ）</small></h3>
    <ul class="comment-info-list"></ul>
    <div class="comment-more">更早留言 >></div>
</div>