<%#
    @param hideFooter 是否隐藏 footer
%>
<% if(!locals.hideFooter) { %>
<footer class="footer">
    <div class="content-wrapper">
        <p>Powered & Designed by liuwanlin</p>
        <p>Copyright 2017-2017 刘万林的个人网站</p>
        <p>粤ICP备17137964号-1</p>
    </div>
</footer>
<% } %>
<script src="/static/editor.md/jquery.min.js"></script>
<script src="/js/main.min.js"></script>
</body>
</html>